@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* ini: Preloader */
#carregando {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  background-color: #101014;
  align-items: center;
  z-index: 10;
}

#carregando > article {
  width: 80%;
  color: #fff;
}

.preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.bolas > div {
  display: inline-block;
  background-color: #fff;
  box-shadow: 2px 2px 3px black;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bolas > div:nth-child(1) {
  animation-duration: 0.75s;
  animation-delay: 0;
}

.bolas > div:nth-child(2) {
  animation-duration: 0.75s;
  animation-delay: 0.12s;
}

.bolas > div:nth-child(3) {
  animation-duration: 0.75s;
  animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  16% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
}
/* end: Preloader */
div#CarregamentoTela1 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #101014;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#CarregamentoTela1 div#containerMensagemAleatoria {
  position: absolute;
  bottom: 30px;
  text-align: center;
}
div#CarregamentoTela1 div#containerMensagemAleatoria .preloader .inner {
  position: relative;
}
div#CarregamentoTela1 div#containerMensagemAleatoria #ImgAstronauta {
  width: 300px;
}
div#CarregamentoTela1 div#containerMensagemAleatoria p#MensagemAleatoria {
  width: 95%;
  max-width: 400px;
  margin: 10px auto 0px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5490196078);
}

:root {
  --black: #fff;
  --white: #292929;
  --black2: #000;
  --white2: #fff;
  --background1: rgb(0, 255, 191);
  --background2: rgb(0, 204, 255);
  --inputColor: #F2EEF4;
  --darkness: rgba(0, 0, 0, 0.747);
  --font_first: "Montserrat", sans-serif;
  --font_second: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: var(--font_first);
  overflow: hidden;
}
body div.boll {
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body div.boll#boll1 {
  width: 300px;
  height: 300px;
  top: 0px;
  left: 0px;
  background-image: url("../Imgs/Icons/fundo1.png");
}
body div.boll#boll2 {
  width: 500px;
  height: 140px;
  top: -5px;
  right: -5px;
  background-image: url("../Imgs/Icons/fundo2.png");
}
body div.boll#boll3 {
  width: 300px;
  height: 300px;
  bottom: 0px;
  right: 0px;
  background-image: url("../Imgs/Icons/fundo3.png");
}
body div.boll#boll4 {
  width: 300px;
  height: 300px;
  bottom: 0px;
  left: 0px;
  background-image: url("../Imgs/Icons/fundo4.png");
}
body main {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font_first);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--black);
}
body main section#main_pc {
  width: 95%;
  max-width: 1000px;
  height: 600px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: -2px 10px 15px var(--darkness);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
body main section#main_pc div#background_orange {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(var(--background1), var(--background2), #425a64);
  position: absolute;
  transition: all 0.6s ease-in-out;
  z-index: 3;
  overflow: hidden;
}
body main section#main_pc div#background_orange.left {
  left: 0;
}
body main section#main_pc div#background_orange.right {
  left: 50%;
}
body main section#main_pc div#background_orange div#container_background_orange {
  width: 200%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -100%;
  transition: all 0.6s ease-in-out;
}
body main section#main_pc div#background_orange div#container_background_orange section {
  width: 90%;
  color: var(--white2);
  text-align: center;
  background-color: transparent;
  position: relative;
}
body main section#main_pc div#background_orange div#container_background_orange section button {
  width: auto;
  padding: 15px 20px;
  color: var(--white2);
  background: transparent;
  border: 1px solid var(--white2);
  cursor: pointer;
  border-radius: 20px;
  margin: 30px auto;
}
body main section#main_pc div.bakground_sections {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--white);
  transition: all 0.4s ease-in-out;
}
body main section#main_pc div.bakground_sections#background_signIn {
  z-index: 2;
  left: 0;
}
body main section#main_pc div.bakground_sections#background_CreatAcoonout {
  right: 0;
}
body main section#main_pc section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: absolute;
  transition: left 0.6s ease-in-out;
  z-index: 2;
}
body main section#main_pc section#container_signIn {
  left: 0;
}
body main section#main_pc section#container_CreatAcoonout {
  left: 0;
  z-index: 1;
}
body main section#main_pc section h1 {
  font-size: 3em;
  font-weight: 800;
}
body main section#main_pc section p {
  max-width: 70%;
}
body main section#main_pc section form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
body main section#main_pc section form input {
  width: calc(100% - 30px);
  padding: 20px 15px;
  background-color: var(--inputColor);
  border: none;
  border-radius: 20px;
  outline: none;
}
body main section#main_pc section form p {
  font-size: 0.8em;
  color: #9ea0a1;
  cursor: pointer;
}
body main section#main_pc section form button {
  width: auto;
  padding: 15px 20px;
  color: var(--white2);
  background-image: linear-gradient(var(--background1), var(--background2));
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 30px auto;
}
body main section#main_mobile {
  display: none;
}
body div#CarregamentoTela1 {
  display: none;
}

@media screen and (max-width: 900px) {
  main section#main_pc {
    display: none !important;
  }
  main section#main_mobile {
    width: 100vw;
    min-height: 100vh;
    display: flex !important;
  }
  main section#main_mobile article {
    width: 95%;
    max-width: 600px;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: -2px 10px 15px var(--darkness);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    top: -100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 700ms ease-in-out;
    padding: 20px 0;
  }
  main section#main_mobile article#article_login_mobile {
    top: 50vh;
  }
  main section#main_mobile article h1 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 50px;
  }
  main section#main_mobile article p {
    max-width: 70%;
  }
  main section#main_mobile article form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  main section#main_mobile article form input {
    width: calc(100% - 30px);
    padding: 20px 15px;
    background-color: var(--inputColor);
    border: none;
    border-radius: 20px;
    outline: none;
  }
  main section#main_mobile article form div#perg {
    display: flex;
    justify-content: space-between;
  }
  main section#main_mobile article form div#perg p {
    font-size: 0.8em;
    color: #9ea0a1;
    cursor: pointer;
  }
  main section#main_mobile article form div#perg p#n_tem_conta_p {
    color: #00ffff;
  }
  main section#main_mobile article form p#tem_conta_p {
    font-size: 0.8em;
    color: #9ea0a1;
    cursor: pointer;
    color: #00ffff;
  }
  main section#main_mobile article form button {
    width: auto;
    padding: 15px 20px;
    color: var(--white2);
    background-image: linear-gradient(var(--background1), var(--background2));
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 30px auto;
  }
}/*# sourceMappingURL=Cadastro.css.map */