@import 'Geral.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #fff;
    --white: #292929;
    
    // --black: #000;
    --black2: #000;
    // --white: #fff;
    --white2: #fff;
    --background1: rgb(0, 255, 191);
    --background2: rgb(0, 204, 255);
    --inputColor: #F2EEF4;
    --darkness: rgba(0, 0, 0, 0.747);

    //? Fontes
    --font_first: 'Montserrat', sans-serif;
    --font_second: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    font-family: var(--font_first);
    overflow: hidden;

    div.boll {
        position: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &#boll1 {
            width: 300px;
            height: 300px;
            top: 0px;
            left: 0px;
            background-image: url("../Imgs/Icons/fundo1.png");
        }

        &#boll2 {
            width: 500px;
            height: 140px;
            top: -5px;
            right: -5px;
            background-image: url("../Imgs/Icons/fundo2.png");
        }

        &#boll3 {
            width: 300px;
            height: 300px;
            bottom: 0px;
            right: 0px;
            background-image: url("../Imgs/Icons/fundo3.png");
        }

        &#boll4 {
            width: 300px;
            height: 300px;
            bottom: 0px;
            left: 0px;
            background-image: url("../Imgs/Icons/fundo4.png");
        }
    }

    main {
        width: 100vw;
        min-height: 100vh;
        font-family: var(--font_first);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        color: var(--black);

        section#main_pc {
            width: 95%;
            max-width: 1000px;
            height: 600px;
            background-color: var(--white);
            border-radius: 10px;
            box-shadow: -2px 10px 15px var(--darkness);
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
    
            div#background_orange {
                width: 50%;
                height: 100%;
                background-image: linear-gradient(var(--background1), var(--background2), #425a64);
                position: absolute;
                transition: all 0.6s ease-in-out;
                z-index: 3;
                overflow: hidden;
    
                &.left {
                    left: 0;
                }
    
                &.right {
                    left: 50%;
                }
    
                div#container_background_orange {
                    width: 200%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: -100%;
                    transition: all 0.6s ease-in-out;
    
                    section {
                        width: 90%;
                        color: var(--white2);
                        text-align: center;
                        background-color: transparent;
                        position: relative;
                        
                        &#text_createAccount {
                            // display: none;
                        }
        
                        button {
                            width: auto;
                            padding: 15px 20px;
                            color: var(--white2);
                            background: transparent;
                            border: 1px solid var(--white2);
                            cursor: pointer;
                            border-radius: 20px;
                            margin: 30px auto;
                        }
                    }
                }
            }
    
            div.bakground_sections {
                width: 50%;
                height: 100%;
                position: absolute;
                z-index: 1;
                background-color: var(--white);
                transition: all 0.4s ease-in-out;
    
                &#background_signIn {
                    z-index: 2;
                    left: 0;
                }
    
                &#background_CreatAcoonout {
                    right: 0;
                }
            }
    
            section {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                // background-color: #fff;
                position: absolute;
                transition: left 0.6s ease-in-out;
                z-index: 2;
    
                &#container_signIn {
                    left: 0;
                }
    
                &#container_CreatAcoonout {
                    left: 0;
                    z-index: 1;
                }
    
                h1 {
                    font-size: 3em;
                    font-weight: 800;   
                }
    
                p {
                    max-width: 70%;
                }
                
                form {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    gap: 20px;
    
                    input {
                        width: calc(100% - 30px);
                        padding: 20px 15px;
                        background-color: var(--inputColor);
                        border: none;
                        border-radius: 20px;
                        outline: none;
                    }
    
                    p {
                        // text-align: center;
                        font-size: 0.8em;
                        color: #9ea0a1;
                        cursor: pointer;
                    }
    
                    button {
                        width: auto;
                        padding: 15px 20px;
                        color: var(--white2);
                        background-image: linear-gradient(var(--background1), var(--background2));
                        border: none;
                        cursor: pointer;
                        border-radius: 20px;
                        margin: 30px auto;
                    }
                }
            }
        }

        section#main_mobile {
            display: none;
        }
    }

    div#CarregamentoTela1 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    main {
        section#main_pc {
            display: none !important;
        }

        section#main_mobile {
            width: 100vw;
            min-height: 100vh;
            display: flex !important;

            article {
                width: 95%;
                max-width: 600px;
                height: auto;
                background-color: var(--white);
                border-radius: 10px;
                box-shadow: -2px 10px 15px var(--darkness);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                overflow: hidden;
                top: -100vh;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 700ms ease-in-out;
                padding: 20px 0;

                &#article_login_mobile {
                    top: 50vh;
                }

                &#article_cadastro_mobile {
                    // display: none;
                }

                h1 {
                    font-size: 3em;
                    font-weight: 800;   
                    margin-bottom: 50px;
                }
    
                p {
                    max-width: 70%;
                }
                
                form {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    gap: 20px;
    
                    input {
                        width: calc(100% - 30px);
                        padding: 20px 15px;
                        background-color: var(--inputColor);
                        border: none;
                        border-radius: 20px;
                        outline: none;
                    }
    
                    div#perg {
                        display: flex;
                        justify-content: space-between;

                        p {
                            // text-align: center;
                            font-size: 0.8em;
                            color: #9ea0a1;
                            cursor: pointer;

                            &#n_tem_conta_p {
                                color: #00ffff;
                            }
                        }
                    }

                    p#tem_conta_p {
                        // text-align: center;
                        font-size: 0.8em;
                        color: #9ea0a1;
                        cursor: pointer;
                        color: #00ffff;
                    }

    
                    button {
                        width: auto;
                        padding: 15px 20px;
                        color: var(--white2);
                        background-image: linear-gradient(var(--background1), var(--background2));
                        border: none;
                        cursor: pointer;
                        border-radius: 20px;
                        margin: 30px auto;
                    }
                }
            }
        }
    }
}