// @import './Geral.scss';

@media screen and (max-width: 1413px) {
    div#headerMusicasFavorias {
        img {
            width: 150px;
            border-radius: 29px !important;
        }

        h1 {
            font-size: 6vw !important;
        }
    }
}

@media screen and (max-width: 1250px) {
    h1#NomeArtista {
        font-size: 6vw !important;
    }
}

//? Quebrar para baixo em uma única coluna em telas menores
@media screen and (max-width: 1100px) {
    section#containerFavoritasDoPerfil {
        article {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
        }
    }
}

@media screen and (max-width: 1024px) {
    div.MusicasLinha {
        p.GeneroMeuPerfil {
            display: none;
        }
    }
}

@media screen and (max-width: 900px) {
    div#inforArtista {
        height: 92% !important;

        div#containerImgPerfilArtista {
            position: absolute !important;
            width: 100% !important;
            height: 440px !important;
            margin-left: 0 !important;
            left: 0 !important;
            top: 0 !important;
            z-index: 0 !important;
    
            div#sombra_container_perfil_artista {
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0));
            }        
    
            img#imgPerfilArtista {
                height: 100vw !important;
            }
        }

        div#textoArtista {
            z-index: 2 !important;
    
            h1#NomeArtista {
                font-size: 8vw !important;
            }
        }
    }

    button#btnPlayHeaderArtista {
        left: 25px !important;
    }

    div#inforPagPlaylist {
        height: 92% !important;

        div#containerImgPerfilPagPlaylist {
            position: absolute !important;
            width: 100% !important;
            height: 440px !important;
            margin-left: 0 !important;
            left: 0 !important;
            top: 0 !important;
            z-index: 0 !important;
    
            div#sombra_container_playlist {
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0));
            }        
    
            img#imgPerfilPagPlaylist {
                height: 100vw !important;
            }
        }

        div#textoPagPlaylist {
            z-index: 2 !important;
    
            h1#NomePagPlaylist {
                font-size: 8vw !important;
            }
        }
    }

    button#btnPlayHeaderPagPlaylist {
        left: 25px !important;
    }
}


@media screen and (max-width: 700px) {
    div#headerMusicasFavorias {
        img {
            width: 100px;
            border-radius: 20px !important;
        }

        h1 {
            font-size: 5vw !important;
        }
    }

    article.SemScroll {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
        gap: 10px !important;

        div.MusicasCaixa {
            min-width: 120px !important;
        }
    }
}

//? Versão cell
@media screen and (max-width: 628px) {
    nav {
        left: -100vw !important;
    }

    div#navCelular {
        display: flex !important;
    }

    main {
        width: 100% !important;
        left: 0px !important;
        right: auto !important;
    }

    section.Paginas {
        width: 100% !important;
        left: 0px !important;
        right: auto !important;

        &.Open {
            display: block !important;
        }
    }

    article#BarraMusica {
        &.BarraMusicaOpen {
            bottom: 60px !important;
        }

        div#InfosBarraMusica {
            align-items: start !important;
            width: 70% !important;

            img#imgMusicaBarraMusica {
                width: 50px !important;
                height: 50px !important;
            }

            div {
                width: 70% !important;
                gap: 10px !important;
                height: 100% !important;
                justify-content: space-evenly !important;

                &#divImgMusicaBarraMusica {
                    width: 64px !important;
                    height: 64px !important;

                    img {
                        width: 100% !important;
                        height: 133% !important;
                    }
                }

                p, span {
                    max-width: none !important;
                    // overflow: visible !important;
                }
            }

            img#HeartBarraMusica {
                display: none !important;
            }
        }

        div#PartePlayerBarraMusica {
            display: none;
        }

        div#ConfigsBarraMusica {
            display: none !important;
        }

        div#ConfigsBarraMusicaCell {
            display: flex !important;
        }
    }

    div#inforArtista {

        div#containerImgPerfilArtista {
    
            img#imgPerfilArtista {
                height: 134vw !important;
            }
        }

        div#textoArtista {    
            h1#NomeArtista {
                font-size: 10vw !important;
            }
        }
    }

    div#inforPagPlaylist {

        div#containerImgPerfilPagPlaylist {       
    
            img#imgPerfilPagPlaylist {
                height: 134vw !important;
            }
        }

        div#textoPagPlaylist {
            h1#NomePagPlaylist {
                font-size: 10vw !important;
            }
        }
    }

    button#btnPlayHeaderPagPlaylist {
        width: 80px !important;
        height: 80px !important;
        left: 20px !important;
        bottom: -40px !important;
    }
}

@media screen and (max-width: 500px) {

    div.TextoMusicaCaixa {
        p {
            font-size:0.8em !important;
        }
    }

    div#btnVoltarPagina {
        display: none !important;
    }

    div#headerMusicasFavorias {
        padding: 20px !important;

        img#imgMusicaFavoritaTocandoAgora {
            display: none;
        }

        h1 {
            font-size: 2em !important;
        }

    }

    article#localMusicasCurtidas {
        padding: 20px 0 100px !important;
    }


    div.MusicasLinha {
        div {
            p {
                display: none !important;
            }

            div {
                p {
                    width: 50vw !important;
                    display: block !important;
                }
            }
        }
    }

    article#TelaTocandoAgora {
        right: -490px !important;
    }

    button#btnPlayHeaderArtista {
        width: 80px !important;
        height: 80px !important;
        left: 20px !important;
        bottom: -40px !important;
    }
}

@media screen and (max-width: 460px) {
    div#inforArtista {

        div#containerImgPerfilArtista {
    
            img#imgPerfilArtista {
                height: 150vw !important;
            }
        }

        div#textoArtista {    
            h1#NomeArtista {
                font-size: 10vw !important;
            }
        }
    }
}